# Files that should not be tracked
## all huge gdx and database files
**/*.~*
**/*.gdx
**/*.accdb
**/*.accdbbak
**/*.mdb
**/*.db
**/*.bak
**/*.out
**/*.bat
**/*.dat
**/*.cmd
**/*.lst
#**/data/*.inc
#**/model/Balmorel.l*
#**/output/economic/*.*
#/base/bui/gamsscr/*.*
#**/*.xls*
#**/*.gpr
#**/*.xls*